/*
Your custom style

Add your custom styles in this file so it is easier to update the theme.
*/

/* General CSS */

.elm-main {
	padding:0;
}

/* Header CSS */
.main-nav {
    padding-left: 0%;
    position: relative;
}

.nav-menu-main > ul > li {
    margin-top: 10px;
}

.nav-menu-main > ul > li > a {
    padding-bottom: 25px;
}

.main-sections > .elm-main:first-child {
    padding-top: 30px;
}

.top-banner-widget {
    width: 65%;
    float: right;
    min-height: 107px;
    line-height: 107px;
    text-align: right;
    position: relative;
    z-index: 1;
    color: #000;
    font-size: 120px;
    padding:10px;
}

/* Body CSS */

.bep_biggrid-container {
    padding-bottom: 0px !important; 
}

.top-banner-widget .widgettitle {
    display:none;
}

.site-description {
    max-width: 180px;
    float: left;
}

.column .elm-wrapper {
    max-width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
}

.elements-sidebar-wrap .elm-main, .column .elm-main {
    padding:0;
}

/* 
* 
* Search CSS 
*
*/

/* AIT Search */

.bep-search {
    margin-right: -30%;
    margin-left: -30%;
	margin-bottom:30px;
}

/* Custom Search */

.bep_custom-search-form input["text"] {
    width:100%;
}