.bep_review-template {	
	display: block;
    min-height: 1px;
    padding-right: 24px;
    padding-left: 24px;
    box-sizing: border-box;
    margin:15px 0;
}

.bep_review .bep_review-title .entry-title {	
	font-size: 14px;
    line-height: 25px;
    margin: 0;
    font-weight:500;
    display: inline-block;
    width: 60%;
}

.bep_module_wrap .item-details .bep_review-rating {
    text-align:left;
    background-color:transparent;
    margin-bottom: 0;
}

.bep_module_wrap .bep_review-rating .review-stars .review-rating-overall * {
    margin-left: 0px;
}

.bep_module_wrap .bep_review-rating .review-stars {
	position: relative;
	top: 0;
	right: 0;
	color: #ffde00;
	cursor: default;
}


.bep_review-description {
    font-size: 12px;
    color: #777;
    line-height: 17px;
}